<div id="contact">
    <div class="row cv-section">
        <div class="span12">
            <div class="cv-section-title">
                <h2>
                    <span>Contact</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row cv-section">
        <div class="span8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed neque diam. Donec eleifend, nunc et sodales tincidunt, eros risus pellentesque ante, non tincidunt metus tortor eget sem. Sed aliquet tempus est, sed bibendum arcu volutpat sit amet. Nam at mollis neque, quis eleifend leo.</p>
            <form class="fixed" id="contact-form"  name="contact-form" method="post" action="http://bitpublimedia.ro/themeforest/cv-portfolio-v2/style-2/_layout/php/send.php"> 
                <fieldset>
                    <div id="formstatus"></div>
                    <input class="span8" id="name" type="text" name="name" value="" placeholder="enter yout name here">
                    <input class="span8" id="email" type="text" name="email" value="" placeholder="email address">
                    <input class="span8" id="subject" type="text" name="subject" value="" placeholder="subject">
                    <textarea class="span8" id="message" name="message" rows="50" cols="25" placeholder="message"></textarea>
                    <input id="submit" type="submit" name="submit" value="Send!">
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <div class="social-media fixed">
                <a href="#" class="facebook-icon social-icon">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="twitter-icon social-icon">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="googleplus-icon social-icon">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="linkedin-icon social-icon">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" class="pinterest-icon social-icon">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
            <address>
                2/3 7th Cross Street, Trustpuram<br>
                Kodambakkam, Chennai, India<br>
                Mobile: +91 81899 81738<br>
                E-mail: <a href="mailto:aruljothiparthiban@hotmail.com">aruljothiparthiban@hotmail.com</a>
            </address>
        </div>
    </div>
    <div class="google-map map" 
        data-zoom="14" 
        data-address="2/3 Seventh Cross Street, Trustpuram, Kodambakkam, Chennai, India" 
        data-caption="Office location 1" >
        <p>This will be replaced with the Google Map.</p>
    </div>
</div>