<div id="education">
    <div class="row cv-section">
        <div class="span12">
            <div class="cv-section-title">
                <h2>
                    <span>Education</span>
                </h2>                                                
            </div>
            <div class="cv-item">
                <p class="period">2007 - 2010</p>
                <h3>Bharathidasan University</h3>
                <p>Bachelor of Engineering in Computer Science - 7.5 CGPA</p>
                <p>Vivamus sollicitudin vehicula tincidunt. Praesent id iaculis massa, in commodo lacus. In placerat luctus metus, et tincidunt lacus dignissim ut. Mauris gravida malesuada commodo. Aenean in nibh molestie, fringilla orci sed, rhoncus mi. Nam et quam iaculis, sollicitudin purus in, accumsan enim. Pellentesque vulputate mi felis, ut feugiat dolor aliquet et.</p>                                               
            </div>
            <div class="cv-item">
                <p class="period">2005 - 2007</p>
                <h3>Department of Technical Education</h3>
                <p>Diploma in Electronics and Communication Engineering - 96 %</p>
                <p>Sed fringilla nunc vel ipsum sagittis consequat. Mauris scelerisque, felis in tempor sodales, nisi eros elementum elit, nec hendrerit nisl leo ut eros. Fusce tincidunt ultrices suscipit. Maecenas euismod tristique gravida. Integer tincidunt gravida velit, sed tristique justo dignissim ac. Nunc adipiscing arcu sem, ac blandit orci ornare nec. Aliquam ut justo fringilla, porttitor dui quis, vulputate mauris. Phasellus condimentum molestie neque at luctus. Cras scelerisque augue in tempor fermentum. Donec quis malesuada purus. Fusce tincidunt rhoncus dui, a consequat sapien aliquet ac.</p>                                               
            </div>
        </div>
    </div>
</div>