<div id="education">
    <div class="row cv-section education-section">
        <div class="span12">
            <div class="cv-section-title">
                <h2>
                    <span>Education</span>
                </h2>                                                
            </div>
            <div class="cv-item">
                <p class="period">2007 - 2010</p>
                <h3>Bharathidasan University</h3>
                <p>Bachelor of Engineering in Computer Science - 7.5 CGPA</p>
            </div>
            <div class="cv-item">
                <p class="period">2005 - 2007</p>
                <h3>Department of Technical Education</h3>
                <p>Diploma in Electronics and Communication Engineering - 96 %</p>
            </div>
        </div>
    </div>
</div>