<div id="footer">
	<div class="row">
        <div class="span12">
            <p>&copy; 2016 Aruljothi Parthiban. <span class="hidden-phone">All rights reserved</span></p>
            <a id="back-to-top" href="#">
                <i class="fa fa-caret-up"></i>
                Top
            </a>
        </div>
    </div>
</div>