<div id="header">
    <div class="parallax full-screen" style="background-image:url(/content/backgrounds/bg_1920x1000.jpg);">
        <div class="parallax-content full-screen">
            <div class="row">
                <div class="span12">
                    <div class="cv-section-title">
                        <img src="/content/160x160.png" alt="">
                        <h1>
                            Arul<span>&nbsp;</span>jothi Parthiban
                        </h1>
                        <p>Full Stack Developer</p>
                    </div>                        
                </div>
            </div>              
        </div>                        
    </div>
    {{> navbar}}
</div>