<div id="nav">
    <div class="row">
        <div class="span12">
            <h4 class="text-uppercase">
                Arul<span style="margin-right:2px;"></span>jothi Parthiban<br>
                <small>Full Stack Developer</small>
            </h4>
            <a href="#" id="mobile-menu-trigger">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="sf-menu" id="menu">
                <li class="active">
                    <a href="#personal-info">Personal Info</a>
                </li>
                <li>
                    <a href="#work-experience">Experience</a>
                </li>
                <li>
                    <a href="#education">Education</a>
                </li>
                <li>
                    <a href="#references">References</a>
                </li>
                <li>
                    <a href="#technical-skills">Skills</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>            
</div>