<div id="personal-info">
    <div class="row cv-section">
        <div class="span5">
            <div class="cv-section-title">
                <h2>
                    <span>Personal Information</span>
                </h2>                                                
            </div>
            <ul class="personal-info">
                <li>Name: Aruljothi Parthiban</li>
                <li>Date of birth: 10 June 1988</li>
                <li>Nationality: Indian</li>
                <li>Address: 2/3 Seventh Cross Street, Trustpuram, Kodambakkam, Chennai, India</li>
                <li>Mobile: +91 81899 81738</li>
                <li>
                    Email: <a href="mailto:aruljothiparthiban@hotmail.com">aruljothiparthiban@hotmail.com</a>
                </li>
            </ul>
        </div>
        <div class="span7">
            <div class="cv-section-title">
                <h2>
                    <span>Profesional Profile</span>
                </h2>
            </div>
            <p>Quisque rhoncus at ante nec malesuada. Integer sodales, odio sit amet viverra sollicitudin, dui ante consequat erat, vitae viverra elit massa vitae mauris. Vestibulum erat augue, fringilla vel cursus in, consectetur in turpis. Nullam et leo libero. Sed rhoncus aliquam urna vitae condimentum. Donec pulvinar vestibulum sem quis porttitor. Maecenas rhoncus aliquet facilisis. Cras accumsan, magna commodo blandit imperdiet, purus dui tempor purus, eget gravida ligula lorem at magna. Proin tempor augue eu urna tincidunt rutrum.</p>
            
            <p>Sed et eros erat. Quisque eleifend dapibus massa quis faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus sagittis fermentum tortor eu aliquam. Proin velit lacus, vehicula ac ipsum ultrices, rutrum tristique magna. Sed sodales risus quis venenatis venenatis.</p>
        </div>
    </div>
</div>