<div id="personal-info">
    <div class="row cv-section">
        <div class="span5">
            <div class="cv-section-title">
                <h2>
                    <span>Personal Information</span>
                </h2>                                                
            </div>
            <ul class="personal-info">
                <li>Name: Aruljothi Parthiban</li>
                <li>Date of birth: 10 June 1988</li>
                <li>Nationality: Indian</li>
                <li>Address: 2/3 Seventh Cross Street, Trustpuram, Kodambakkam, Chennai, India</li>
                <li>Mobile: +91 81899 81738</li>
                <li>
                    Email: <a href="mailto:aruljothiparthiban@hotmail.com">aruljothiparthiban@hotmail.com</a>
                </li>
            </ul>
        </div>
        <div class="span7">
            <div class="cv-section-title">
                <h2>
                    <span>Profesional Profile</span>
                </h2>
            </div>
            <p>Skilled engineer with 8 years of experience in web application development in .NET technologies, 4 years of experience in Node js development, and great experience in front end frameworks like ReactJS, AngularJS, KnockoutJS, BackboneJS and JQuery. I work well both solo and in teams of any size.</p>
            <p>Proven ability to develop in highly demanding and professional environment. Good Experience in various participation in phases of Application development life cycles. Work and support the team for problem solutions and training. Has the ability to learn quickly and to manage unexpected obstacles.</p>
        </div>
    </div>
</div>