<div id="portfolio">            	
    <ul class="portfolio-strip fixed">
        <li>
            <div class="portfolio-item">
                <div class="portfolio-item-preview">                                
                    <img src="/content/portfolio/msite.png" alt="">                                
                    <div class="portfolio-item-overlay">
                        <div class="portfolio-item-description">
                            <h3>
                                <a class="magnificPopup-gallery" href="/content/portfolio/msite.png">   United States best website to protect real estate photography
                                </a>
                            </h3>
                            <p class="hidden-tablet">Proin sodales sem turpis, ac laoreet diam dignissim vel. Maecenas non erat tellus. Proin dictum purus iaculis tempus mollis semper dictum libero.</p>                                    
                        </div>                                
                    </div>                            
                </div>                        
            </div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="portfolio-item-preview">                                
                    <img src="/content/portfolio/fotag.png" alt="">                                
                    <div class="portfolio-item-overlay">
                        <div class="portfolio-item-description">
                            <h3>
                                <a class="magnificPopup-gallery" href="/content/portfolio/fotag.png">   United States best website to protect real estate photography
                                </a>
                            </h3>
                            <p class="hidden-tablet">Proin sodales sem turpis, ac laoreet diam dignissim vel. Maecenas non erat tellus. Proin dictum purus iaculis tempus mollis semper dictum libero.</p>                                    
                        </div>                                
                    </div>                            
                </div>                        
            </div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="portfolio-item-preview">                                
                    <img src="/content/portfolio/easamove.png" alt="">                                
                    <div class="portfolio-item-overlay">
                        <div class="portfolio-item-description">
                            <h3>
                                <a class="magnificPopup-gallery" href="/content/portfolio/easamove.png">Property search portal in United Kingdom
                                </a>
                            </h3>
                            <p class="hidden-tablet">Proin sodales sem turpis, ac laoreet diam dignissim vel. Maecenas non erat tellus. Proin dictum purus iaculis tempus mollis semper dictum libero.</p>                                    
                        </div>                                
                    </div>                            
                </div>                        
            </div>
        </li>
    </ul>            
</div>