<div id="work-experience">
    <div class="row cv-section">
        <div class="span12">
            <div class="cv-section-title">
                <h2>
                    <span>Work Experince</span>
                </h2>                                                
            </div>
            <div class="cv-item">
                <p class="period">Jan 2014 - Present</p>
                <h3>Module Leader</h3>
                <p>Universal Power systems pvt ltd, Full-Time</p>
                <ul class="fill-circle">
                    <li>Created architecture for a public-facing web application using Onion Architecture and domain-driven design.</li>
                    <li>Implemented the foundations of the web application back-end tier using WebAPI in the newest ASP.NET 5 version and persisting data on Sql Server 2012 using Entity Framework.</li>
                    <li>Implemented the foundation of the web application front-end tier using ASP.NET 5 and AngularJS, Twitter Bootstrap, and Yeoman.</li>
                    <li>Implemented a web application for creating and configuring the WAP pages of different Telecom Operators.</li>
                    <li>Built a mobile based Recharge Portal for AIRCEL.</li>
                    <li>Trained co-workers in ASP.NET 5.</li>
                    <li>Provided time estimations and project management support.</li>
                    <li>Responsible for system administration on AWS.</li>
                </ul>
                <p>Technologies: ASP.NET MVC Framework, Web API, JavaScript, KnockoutJS, AngularJS, Sql Server 2012</p>
            </div>
            <div class="cv-item">
                <p class="period">May 2011 - Dec 2013</p>
                <h3>Senior Software Engineer</h3>
                <p>Ibox technology private ltd, Full-Time</p>
                <ul class="fill-circle">
                    <li>Created single page web application for booking, managing and tracking shipping containers for Mediterranean shipping company (MSC).</li>
                    <li>Introduced the usage of the MVC framework within the company in order to accelerate development productivity.</li>
                    <li>Introduced the usage of the Knockout.js within the project and mentored the rest of the team about how to use it.</li>
                    <li>Followed the Agile’s Test First Approach for delivering better quality software products.</li>
                    <li>Extensively implemented UI components using JavaScript and Jquery frameworks by supporting JSON and XML.</li>
                    <li>Created custom validation engine for both client-side and server-side. Validation plays important roles in our application so validate the business model by using Data Annotations and Enterprise validation blocks are not sufficient for our requirements. </li>
                    <li>Implemented template based report component on top of Microsoft’s Open XML SDK  by following Abstract Factory Pattern and Bridge Pattern.</li>
                    <li>Created WCF Services with Dual security with different Endpoints. ( like HTTP and TCP)</li>
                    <li>Provided leadership and mentor junior engineers in developing their skills to ensure career development and succession planning.</li>
                    <li>Maintaining and managing project source using SVN and TFS.</li>
                </ul>
                <p>Technologies: C#, ASP.NET MVC 3, WCF, JavaScript, KnockoutJS and Sql Server 2008.</p>
            </div>
            <div class="cv-item">
                <p class="period">April 2010 - April 2011</p>
                <h3>Web Developer</h3>
                <p>Eminent Business Solutions, Full-Time</p>
                <ul class="fill-circle">
                    <li>Created an add-on to Microsoft Outlook allowing full synchronization of Mails, Appointments, and Tasks with a web-based document management system.</li>
                    <li>Designed WYSIWYG-based workflow diagrams for the document management system in a ASP.NET WebForms application.</li>
                    <li>Built a drag'n'drop file upload on a web- based system with help of javascript and jquery.</li>
                    <li>Wrote data archiving functionality in a document management system written in ASP.NET Web Forms.</li>
                    <li>Fixed bugs in the system (ASP.NET WebForms).</li>       
                    <li>Designed the UI/graphics for various websites.</li>             
                </ul>
                <p>Technologies: C#, ASP.NET WebForms, MS SQL, WebServices, JavaScript and Jquery</p>
            </div>
        </div>
    </div>
</div>