<div id="wrap">
	{{> header}}
	<div id="content">
        {{> personalinfo}}
        {{> work_experience}}  
        {{> education}}
            
            <div class="parallax" id="references" style="background-image:url(/content/backgrounds/1920x1000.jpg);">
            	
                <div class="row cv-section">
                    <div class="span12">
                        
                        <div class="cv-section-title">
                            
                            <h2>
                                <span>References</span>
                            </h2>                                                
                            
                        </div><!-- end .cv-section-title -->
                        
                        <div class="cv-item">
                            
                            <h3>Ralph E. Carlson</h3>
                            <p>Manager / Web Design Studio</p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod turpis vitae quam sagittis, varius 
                            sodales tortor elementum. Vestibulum pulvinar eros tristique purus tempus, eget tristique orci luctus. Curabitur 
                            magna sem, semper scelerisque tincidunt id, venenatis ut tortor. Quisque suscipit tortor a pretium sodales. Maecenas 
                            ut commodo erat. Pellentesque facilisis tortor id dui dictum lacinia. Morbi elementum nisi urna, ultrices accumsan 
                            massa cursus eu. </p>                                         
                            
                        </div><!-- end cv-item -->
                        
                        <div class="cv-item">
                            
                            <h3>Danny L. Campbell</h3>
                            <p>Manager / Acme Advertising</p>
                            
                            <p>Mauris semper dictum libero, non tincidunt lacus vestibulum at. Aliquam quis lorem id mi ullamcorper accumsan 
                            eu at magna. Morbi malesuada lectus magna, et lobortis eros bibendum ac. Ut nisi nisl, molestie vel ultrices eu, 
                            fermentum id magna. Sed egestas accumsan lectus, ac vehicula mauris vestibulum vitae. Quisque tincidunt viverra 
                            massa quis aliquam. Cras sodales quam diam, quis suscipit nunc feugiat sit amet.</p>                                        
                            
                        </div><!-- end cv-item -->                    
                    
                    </div><!-- end .span12 -->
                </div><!-- end .cv-section -->
                
            </div>
            
            <div id="technical-skills">
            	
                <div class="row cv-section">
                    <div class="span12">
                        
                        <div class="cv-section-title">
                            
                            <h2>
                                <span>Technical Skills</span>
                            </h2>                                                
                            
                        </div><!-- end .cv-section-title -->
                        
                        <div class="row">
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="90" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3 class="text-uppercase">Html5 &amp; Css3</h3>
                                    <p>Expert, 4 years</p>
                                    
                                    <p>Donec cursus nibh quis egestas metus id est semper dapibus. Aliquam iaculis semper facilisis 
                                    eu lobortis enim molestie sit amet tortor. </p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="75" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Javascript</h3>
                                    <p>Advanced, 2 years</p>
                                    
                                    <p>Vivamus nec neque nunc. Quisque vel eleifend neque, in elementum tortor. Phasellus mattis luctus 
                                    ligula a sodales id est semper.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="95" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Adobe Photoshop</h3>
                                    <p>Expert, 8 years</p>
                                    
                                    <p>Morbi eu lobortis enim. Mauris ac velit in turpis facilisis commodo. In ultrices commodo dui, sed 
                                    venenatis velit sodales quis.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="60" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Back-end Development</h3>
                                    <p>Beginer, 2 years</p>
                                    
                                    <p>Cras lacinia, nibh non euismod eleifend, urna est rhoncus velit, ut pharetra dolor justo sit amet. 
                                    Maecenas vitae diam ornare ante rhoncus rutrum.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                        </div><!-- end .row -->
                        
                        <div class="row">
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="43" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Corel Draw</h3>
                                    <p>Beginer, 2 years</p>
                                    
                                    <p>Maecenas quam nisi, mollis non iaculis in, molestie et lectus. Class aptent taciti sociosqu ad litora 
                                    torquent per conubia nostra.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="78" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>jQuery</h3>
                                    <p>Advanced, 3 years</p>
                                    
                                    <p>Proin ornare augue sed imperdiet sagittis. In mollis mi tellus, ac imperdiet magna condimentum at. Sed 
                                    adipiscing pharetra.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="83" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Adobe Illustrator</h3>
                                    <p>Beginer, 1 year</p>
                                    
                                    <p>Quisque tincidunt viverra massa quis aliquam. Cras sodales quam diam, quis nunc feugiat sit amet. Integer 
                                    bibendum non ultricies posuere.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                            <div class="span3">
                                
                                <div class="pie-chart" data-percent="73" data-barColor="#fdb020" data-trackColor="#d9d9d9" data-lineWidth="8" data-barSize="160">
                            
                                    <div class="pie-chart-percent">
                                        <span></span>
                                        %
                                    </div><!-- end .pie-chart-percent -->
                                    
                                </div><!-- end .pie-chart -->
                                
                                <div class="pie-chart-description">
                                    
                                    <h3>Wordpress</h3>
                                    <p>Advanced, 4 years</p>
                                    
                                    <p>Mauris semper dictum libero, non tincidunt lacus vestibulum at. Aliquam quis lorem id mi 
                                    accumsan eu at magna eros bibendum.</p>
                                    
                                </div><!-- end .pie-chart-description -->
                                
                            </div><!-- end .span3 -->
                        </div><!-- end .row -->
                        
                    </div><!-- end .span12 -->
                </div><!-- end .cv-section -->
                
            </div>
            
			<div id="portfolio">
            	
                <ul class="portfolio-strip fixed">
                	<li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-1.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-1.png">Lorem ipsum dolor sit amet</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Proin sodales sem turpis, ac laoreet diam dignissim vel. Maecenas non erat tellus. Proin dictum 
                                        purus iaculis tempus mollis semper dictum libero.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-2.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-2.png">Maecenas non erat tellus</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Duis pharetra sem at sapien volutpat, quis elementum nisi porta. Donec tristique sodales tellus 
                                        et interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-3.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-3.png">Duis vitae eros eget augue</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Cras elit lectus, dignissim vel consectetur et, ultricies et est. Nulla sit amet fringilla 
                                        velit suspendisse a lacus sit amet sem pretium dapibus vel quis metus. </p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-4.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-4.png">Quisque vel lacinia elit</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Duis risus justo, sodales et elit consectetur, pharetra ornare leo. Praesent euismod leo id 
                                        consequat lobortis. Nunc tincidunt purus arcu, et malesuada elit.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-5.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-5.png">Nullam quis pretium risus</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Duis ut magna purus. Vestibulum imperdiet, diam in consequat tincidunt, tellus ipsum faucibus purus, 
                                        at ornare mi mi at tortor. Phasellus a ultrices nulla, in lobortis ligula.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-6.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-6.png">Morbi congue odio vitae fringilla</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Maecenas vel sapien vehicula, mollis mauris interdum, mollis augue. Curabitur eu condimentum felis. 
                                        Nulla lacinia varius lectus sed ornare.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-7.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-7.png">Nunc bibendum at tellus</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Etiam faucibus pharetra accumsan. Nulla facilisi. Vivamus sodales nisi ut hendrerit congue. Nunc commodo, 
                                        massa et tristique condimentum, enim mi ornare orci.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                    <li>
                    	
                        <div class="portfolio-item">
            
                            <div class="portfolio-item-preview">			
                            
                                
                                <img src="_content/portfolio/480x480-8.png" alt="">
                                
                                
                                <div class="portfolio-item-overlay">
                                
                                    <div class="portfolio-item-description">
                            
                                        <h3>
                                        	<a class="magnificPopup-gallery" href="_content/portfolio/480x480-8.png">Nam sit amet quam elit</a>
                                        </h3>
                                        
                                        <p class="hidden-tablet">Vivamus luctus orci elit, sed convallis odio pulvinar nec. In consequat mauris dolor, id tincidunt 
                                        neque accumsan eget. Vivamus ultrices rhoncus mi accumsan vulputate.</p>
                                    
                                    </div><!-- end .portfolio-item-description -->
                                
                                </div><!-- end .portfolio-item-overlay -->
                            
                            </div><!-- end .portfolio-item-preview -->
                        
                        </div><!-- end .portfolio-item -->
                        
                    </li>
                </ul>
                
            </div>
    {{> contact}}

		</div>
	{{> footer}}
</div>