<div id="wrap">
	{{> header}}
	<div id="content">
        {{> personalinfo}}
        {{> work_experience}}  
        {{> education}}
        {{> references}}
        {{> technical_skills}}
        {{> contact}}
    </div>
	{{> footer}}
</div>