<div id="wrap">
	{{> header}}
	<div id="content">
        {{> personalinfo}}
        {{> work_experience}}  
        {{> education}}
            
            <div class="parallax" id="references" style="background-image:url(/content/backgrounds/1920x1000.jpg);">
            	
                <div class="row cv-section">
                    <div class="span12">
                        
                        <div class="cv-section-title">
                            
                            <h2>
                                <span>References</span>
                            </h2>                                                
                            
                        </div><!-- end .cv-section-title -->
                        
                        <div class="cv-item">
                            
                            <h3>Ralph E. Carlson</h3>
                            <p>Manager / Web Design Studio</p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod turpis vitae quam sagittis, varius 
                            sodales tortor elementum. Vestibulum pulvinar eros tristique purus tempus, eget tristique orci luctus. Curabitur 
                            magna sem, semper scelerisque tincidunt id, venenatis ut tortor. Quisque suscipit tortor a pretium sodales. Maecenas 
                            ut commodo erat. Pellentesque facilisis tortor id dui dictum lacinia. Morbi elementum nisi urna, ultrices accumsan 
                            massa cursus eu. </p>                                         
                            
                        </div><!-- end cv-item -->
                        
                        <div class="cv-item">
                            
                            <h3>Danny L. Campbell</h3>
                            <p>Manager / Acme Advertising</p>
                            
                            <p>Mauris semper dictum libero, non tincidunt lacus vestibulum at. Aliquam quis lorem id mi ullamcorper accumsan 
                            eu at magna. Morbi malesuada lectus magna, et lobortis eros bibendum ac. Ut nisi nisl, molestie vel ultrices eu, 
                            fermentum id magna. Sed egestas accumsan lectus, ac vehicula mauris vestibulum vitae. Quisque tincidunt viverra 
                            massa quis aliquam. Cras sodales quam diam, quis suscipit nunc feugiat sit amet.</p>                                        
                            
                        </div><!-- end cv-item -->                    
                    
                    </div><!-- end .span12 -->
                </div><!-- end .cv-section -->
                
            </div>
        {{> technical_skills}}
        {{> contact}}
    </div>
	{{> footer}}
</div>